/*this is index.css*/
body{
    font-size: 25px;
}
.chat-close-icon{
    position: fixed;
    bottom: 56px;
    right: 30px;
    color: green;
    z-index: 10;
}
.sd-mask{
    position: fixed;
    top:0;
    left:0;
    background-color: grey;
    opacity: 0.5;
    width: 100vw;
    height: 100vh;
}